

<h1 class="first-name"><%= @instructor.first_name%></h1> <h1 class="second-name"><%=@instructor.second_name%></h1>

  <h3>Courses</h3>
      <div id="instructor-courses">
        <ol>
          <% @instructor.courses.each do |course| %>
              <li>
                <h3 class="instructorCourseDepartment"><%= course.department%>-<%=course.title %></h3>
                  <p class="card-text"><%= course.description %></p>
                    <!-- <div class="btn-group">
                      <%= button_to "View", course_path(course), method: :get %>
                    </div>
                    <div class="btn-group">
                      <%= button_to "Edit", edit_course_path(course), method: :get, class: "btn btn-sm btn-outline-secondary" if current_user.try(:admin?) || course.user_id == current_user.try(:id) %>
                    </div>
                    <small class="text-muted">Last updated: <br><%= course.updated_at.strftime("%m/%d/%Y") %></small> -->
                  <%= link_to "View Course", course_path(course), method: :get %>
              </li>
          <% end %>
        </ol>
      </div>
        <br>
      <!-- <%= button_to "Add a Course", new_instructor_course_path %> was "link_to" -->
      <!-- <%= form_for @instructor do |f| %>
        <%= f.fields_for :courses, @instructor.courses.build do |course| %>
        <%= course.hidden_field :user_id, value: current_user.id %>
        <h3>New Course for <%= @instructor.full_name%> </h3>
          <%= course.label :title %><br>
          <%= course.text_field :title %>
          <br>
          <%= course.label :department %><br>
          <%= course.text_field :department %>
          <br>
          <%= course.label :course_number %><br>
          <%= course.text_field :course_number %>
          <br>
          <%= course.label :description %><br>
          <%= course.text_area :description %>
        <% end %>
        <br>
        <%= f.submit %> -->
      <% end %>
      <%= button_to "Edit Instructor", edit_instructor_path, method: :get, class: "btn btn-sm btn-outline-secondary" if current_user.try(:admin?) || @instructor.user_id == current_user.try(:id) %>
      <br>

      <a href="#" class="js-previous btn btn-primary btn-sm" data-id="<%=@instructor.id%>">View Previous Instructor</a><br><br>
      <a href="#" class="js-next btn btn-primary btn-sm" data-id="<%=@instructor.id%>">View Next Instructor</a><br><br>
