

<div id="showcourse">
  <div class="course-header">
    <h1><%= @course.title %> (<%= @course.department %>-<%= @course.course_number %>)</h1>
  </div>
</div>
<h3>Instructor: <%= @course.instructor_name%></h3>

<p id="description"><%= @course.description %></p>
    <%= link_to "Edit course", edit_course_path(@course) if current_user.try(:admin?) || @course.user_id == current_user.try(:id) %><br>
    <%= link_to "All courses", courses_path, class: "btn btn-outline-dark" %>

<h3>Reviews</h3>

<p>Overall Ratings</p>
  <ul>
    <li> Average Difficulty: <%= @course.avg_difficulty %></li>
    <li> Instructor Quality: <%= @course.instructor_quality %></li>
    <li> Workload: <%= @course.work_amount %></li>
    <li> Amount Learned: <%= @course.amount_learned %></li>
    <li> Overall Quality: <%= @course.overall_quality %></li>
  </ul>

<br>

<!-- <%= link_to "Write a review", new_course_review_path(@course), :class => "new_review", :remote => true %> | -->
<%= link_to "Load reviews", course_reviews_path(@course), :class => "load_reviews" %>
<!-- <%= link_to "go to review show page", course_reviews_path(@course)%> -->
<div id="test">
  <%= render 'reviews/reviews' %>
</div>
<div>
  <ol id="test">
  </ol>
</div>


<%= form_for([@course, @course.reviews.build]) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :course_id, value: @course.id %>
  <label>How difficult was this course? (Enter 1 - 5)</label>
  <%= f.text_field :difficulty %><br>
  <label>What was the quality of this course's instructor (Professor <%= @course.instructor_name%>)? (Enter 1 - 5)</label>
  <%= f.text_field :instructor_quality %><br>
  <label>How much did you learn from this course? (Enter 1 - 5)</label>
  <%= f.text_field :amount_learned %><br>
  <label>How much work did this course require? (Enter 1 - 5)</label>
  <%= f.text_field :work_amount %><br>
  <label>What was the overall quality of this course? (Enter 1 - 5)</label>
  <%= f.text_field :course_quality %><br>

  <label>Comments</label><br>
  <%= f.text_area :comment %><br>
      <%= f.submit %>
      <%= link_to "Back to course", course_path(@course) %>
  <% end %>
